.cover {
    background:white; 
    width:700px; 
    margin:auto; 
    padding-left:60px;
}
 
h2.contact { 
    padding-left: 125px; 
    font-size: 66px; 
    color: black; 
    height: 105px; 
    font-family: Сomic Sans MS, cursive; 
}
 
p.contact { 
    font-size: 24px; 
    margin-bottom: 15px; 
    line-height: 36px; 
    font-family: Сomic Sans MS, cursive;  
    color: black;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); 
}
 
#contact {
    margin-bottom: 0px; 
}
 
input[type="text"] {
    width: 400px; 
}
 
textarea { 
    width: 600px; 
    height: 275px; 
}
 
label { 
    color: black;
}
 
input, textarea { 
    background-color: rgba(255, 255, 255, 0.4); 
    border: 5px solid rgba(122, 192, 0, 0.15); 
    padding: 10px; 
    font-family: Сomic Sans MS, cursive;  
    color: black; 
    font-size: 24px; 
    -webkit-border-radius: 5px;
    margin-bottom: 15px;
    margin-top: -10px;
}
 
input:focus, textarea:focus { 
    border: 5px solid #4b4b4b; 
    background-color: rgba(255, 255, 255, 1);
}
 
input[type="submit"] {
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    background-color: black;
    padding: 5px 36px 8px 36px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.23, black;),
        color-stop(0.62, #7ac000)
    );
    background: -moz-linear-gradient(
        center bottom,
        #A20ABD; 23%,
        #A20ABD; 62%
    );
}
 
input[type="submit"]:hover {
    color: #fff; 
    border-bottom: 1px solid rgba(0, 0, 0, 0.4); 
    background-color: white;
	color: black;
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.23, white),
        color-stop(0.62, white)
    );
    background: -moz-linear-gradient(
        center bottom,
        white 23%,
        white 62%
    );
}
 
input[type="submit"]:active { 
    top: 1px; 
}

#Finish{ 
max-height: 200px; 
max-width: 800px; 
margin:5px auto; 
text-align: center;
}
#XML{ 
height: 40px; 
color: black; 
text-align: center; 
border:inset black;
border-radius: 10px 20px;
}