#title{
	background-color: white;
	font-family: Сomic Sans MS, cursive; 
    font-size: 100pt;
}
#finish{
	background-color: white;
	font-family: Сomic Sans MS, cursive; 
    font-size: 20pt;
	
}
#first{
	background-image: url(Картинки/Небо.png);
	font-family: Сomic Sans MS, cursive; 
    font-size: 20pt;
}
#main{
	background-image: url(Картинки/Небо.png);
}
#mainm {
	color: white;
	text-decoration:none;
}

#mainm:active {
	color:  white;
	text-decoration: none;
}

#mainm:visited {
	color: white;
	text-decoration: none;
}

#mainm:hover {
	color: white;
	text-decoration: none;
}

.back{
	font-size: 25pt;
	text-decoration: none;
	transition: 1s;
	color: black;
}
.back:hover{
	border-bottom: 5px solid #40374A;
}

a.effect-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  -webkit-animation: shine 2s infinite;
          animation: shine 2s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}
.border {
list-style: none;
padding: 0;
}
.border li {
font-family:  Сomic Sans MS, cursive;
padding: 7px 10px;
margin-bottom: 10px;
border-radius: 5px;
border-left: 10px solid #f05d22; 
box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
     -2px -2px 5px 0 rgba(0,0,0,.1),
    2px 2px 5px 0 rgba(0,0,0,.1),
    -2px 2px 5px 0 rgba(0,0,0,.1);
font-size: 20px;
letter-spacing: 2px;
transition: 0.3s all linear;
}
.border li:nth-child(2){border-color: #8bc63e;}
.border li:nth-child(3){border-color: #fcba30;}
.border li:nth-child(4){border-color: #1ccfc9;}
.border li:nth-child(5){border-color: #493224;}
.border li:hover {border-left: 10px solid transparent;}
.border li:nth-child(1):hover {border-right: 10px solid #f05d22;}
.border li:nth-child(2):hover {border-right: 10px solid #8bc63e;}
.border li:nth-child(3):hover {border-right: 10px solid #fcba30;}
.border li:nth-child(4):hover {border-right: 10px solid #1ccfc9;}
.border li:nth-child(5):hover {border-right: 10px solid #493224;}